
.{q}-code
    white-space pre-wrap
    white-space -moz-pre-wrap
    white-space -o-pre-wrap
    word-wrap break-word
    background lighten(#333,10%)
    color white
    font-size .8em
    border-radius 3px

    &.{q}-code-box
        box-sizing border-box
        width 100%
        padding 15px
        display block
