/*
### Module: Progress Bar

    <div class='bs-progress-bar-wrapper'>
        <div class='bs-progress-bar' style='width: 25%'>
        </div>
    </div>

 */

$bs-progress-bar-height        ?= 20px
$bs-progress-bar-color         ?= #B76666
$bs-progress-bar-border-color  ?= $bs-hrule-color
$bs-progress-bar-border-radius ?= 2px
$bs-progress-bar-border-space  ?= 1px

.{q}-progress-bar-wrapper
    height $bs-progress-bar-height
    border-radius ($bs-progress-bar-border-radius + $bs-progress-bar-border-space)
    border 1px solid $bs-progress-bar-border-color
    padding $bs-progress-bar-border-space
    width 100%

    .{q}-progress-bar
        height 100%
        border-radius $bs-progress-bar-border-radius
        background-color $bs-progress-bar-color
        -webkit-transition width 250ms
        line-height ($bs-progress-bar-height - $bs-progress-bar-border-space)
