/*
## Buttons
    <div class='bs-btn'>Button</div>
    <div class='bs-btn bs-btn-cta'>Button</div>
*/
.{q}-btn
    font-family $bs-font-stack
    font-size 1em
    background-color $bs-button-color
    color $bs-button-text-color
    border-radius $bs-button-radius
    display inline
    padding 11px 19px
    border none
    cursor pointer

    &:hover
        background-color $bs-button-hover-color

    &.{q}-btn-cta
        background-color $bs-button-cta-color
        color $bs-button-text-color

        &:hover
            background-color darken($bs-button-cta-color, 10%)
