/*
## Buttons
### Standard buttons
    <div class='bs-btn'>Button</div>
    <div class='bs-btn bs-btn-cta'>Button</div>

*/

//    .bs-btn-group
//       .bs-btn Button
//      .bs-btn Button
//     .bs-btn Button
.{q}-btn
    font-family $bs-font-stack
    font-size 1em
    background-color $bs-button-color
    color $bs-button-text-color
    border-radius $bs-button-radius
    padding 11px 19px
    border none
    cursor pointer

    &:hover
        background-color $bs-button-hover-color

    &.{q}-btn-cta
        background-color $bs-button-cta-color
        color $bs-button-text-color

        &:hover
            background-color darken($bs-button-cta-color, 10%)

    /*
    ### Size variations
        <div class='bs-btn bs-btn-s'>Button</div>
        <div class='bs-btn bs-btn-cta bs-btn-s'>Button</div>

        <div class='bs-btn bs-btn-l'>Button</div>
        <div class='bs-btn bs-btn-cta bs-btn-l'>Button</div>
    */
    &.{q}-btn-s
        font-size .8em
        padding 8px 16px

    &.{q}-btn-l
        font-size 1.2em
        padding 11px 22px

    &.{q}-btn-xl
        font-size 1.2em
        padding 18px 28px

/*
### Button group
    <div class='bs-btn-group'>
        <div class='bs-btn'>Button</div>
        <div class='bs-btn'>Button</div>
        <div class='bs-btn'>Button</div>
    </div>
*/

.{q}-btn-group

    .{q}-btn
        border-radius 0
        margin-left -3px
        border-left 1px solid lighten($bs-button-color,20%)

    .{q}-btn:first-child
        border-radius left $bs-button-radius
        margin-left 0
    .{q}-btn:last-child
        border-radius right $bs-button-radius
