.{q}-btn
    background-color $bs-button-color
    color $bs-button-text-color
    border-radius $bs-button-radius
    display inline
    padding 11px 19px
    cursor pointer

    &.{q}-btn-cta
        background-color $bs-button-cta-color
        color $bs-button-text-color
