.{q}-form

    & > *:not(:first-child)
        margin-left 8px

    input[type='text'], input[type='email'],
    input[type='password'], input[type='url'], textarea
        font-family $bs-font-stack
        font-size 1em
        color $bs-base-text-color
        padding 10px
        border-radius: $bs-form-input-radius
        border 1px solid rgba(150,150,150,0.45)
        outline none


        background-color #E5E5E5

        &:focus
            border 1px solid #8F8F8F

