.{q}-form

    input[type='text'], input[type='email'],
    input[type='password'], input[type='url'], textarea
        font-family $bs-font-stack
        font-size 1em
        color $bs-base-text-color
        padding 10px
        border-radius: $bs-form-input-radius
        border 1px solid $bs-form-border-color
        outline none

        background-color $bs-form-bg-color

        &:focus
            border 1px solid $bs-form-focus-border-color

    & > *:not(:first-child)
        margin-left 8px

    &.ft-form-vertical
        & > *:not(:first-child)
            margin-left 0

