
//http://24ways.org/2006/compose-to-a-vertical-rhythm/
vertical-rhythm($font-size)
    font-size ($font-size / $bs-base-font-size)em
    line-height ($bs-base-unit-height/$font-size)em
    margin-top ($bs-base-unit-height*(80/50)/$font-size)em
    margin-bottom ($bs-base-unit-height*(20/50)/$font-size)em

vertical-rhythm-p($font-size)
    font-size ($font-size / $bs-base-font-size)em
    line-height ($bs-base-unit-height/$font-size)em
    margin-top ($bs-base-unit-height/$font-size)em
    margin-bottom ($bs-base-unit-height/$font-size)em

body // for ie6
    font-family $bs-font-stack
    color $bs-base-text-color
    font-size 75% // 12px

html>body // ignored by ie6
    font-size $bs-base-font-size

p
    vertical-rhythm-p($bs-base-font-size)

.{q}-h1
    vertical-rhythm($bs-base-font-size+18px)
    font-weight bold

.{q}-h2
    vertical-rhythm($bs-base-font-size+12px)
    font-weight bold

.{q}-h3
    vertical-rhythm($bs-base-font-size+6px)
    font-weight bold

.{q}-h4
    vertical-rhythm($bs-base-font-size)
    font-weight bold
    text-transform uppercase

code
    vertical-rhythm-p($bs-base-font-size)

    pre
        margin 0

.{q}-rhythm
    margin-top ($bs-base-unit-height*(80/50)/$bs-base-font-size)em
    margin-bottom ($bs-base-unit-height*(20/50)/$bs-base-font-size)em

.{q}-hrule
    clear both
    box-sizing border-box
    padding-top ($bs-base-font-size*175/50)
    margin-bottom ($bs-base-font-size*25/50)
    width 100%
    border-bottom $bs-hrule-style

a
    color $bs-link-color
a:hover
    color $bs-link-hover-color
