
//http://24ways.org/2006/compose-to-a-vertical-rhythm/
vertical-rhythm($font-size)
    font-size ($font-size / $bs-base-font-size)em
    line-height ($bs-base-unit-height/$bs-base-font-size)em
    margin-top ($bs-base-unit-height*(80/50)/$font-size)em
    margin-bottom ($bs-base-unit-height*(20/50)/$font-size)em

vertical-rhythm-p($font-size)
    font-size ($font-size / $bs-base-font-size)em
    line-height ($bs-base-unit-height/$font-size)em
    margin-top ($bs-base-unit-height/$font-size)em
    margin-bottom ($bs-base-unit-height/$font-size)em

    &.{q}-rhythm-upshift
        margin-top 0px
        margin-bottom ($bs-base-unit-height/$font-size)em



/*
## Headings
These are semantic classes so that the tag names can be arranged
in their own hierarchy

    <div class='bs-h1'>Heading 1</div>
    <div class='bs-h2'>Heading 2</div>
    <div class='bs-h3'>Heading 3</div>
    <div class='bs-h4'>Heading 4</div>
*/
.{q}-h1
    vertical-rhythm($bs-base-font-size+18px)
    font-weight bold

.{q}-h2
    vertical-rhythm($bs-base-font-size+12px)
    font-weight bold

.{q}-h3
    vertical-rhythm($bs-base-font-size+6px)
    font-weight bold

.{q}-h4
    vertical-rhythm($bs-base-font-size)
    font-weight bold
    text-transform uppercase
/*
## Typography Mixins
`ab-rhythm` gives any class vertical rhythm
*/

.{q}-rhythm
    margin-top ($bs-base-unit-height*(80/50)/$bs-base-font-size)em
    margin-bottom ($bs-base-unit-height*(20/50)/$bs-base-font-size)em

.{q}-hrule
    clear both
    box-sizing border-box
    padding-top ($bs-base-font-size*175/50)
    margin-bottom ($bs-base-font-size*25/50)
    width 100%
    border-top $bs-hrule-style

.{$bs-master-class} // ignored by ie6
    p
        vertical-rhythm-p($bs-base-font-size)
        font-family $bs-body-font-stack
